/* 
* Main stylesheet for Layers of Vision
* This is the SCSS file. CSS will be generated and minified.
*/

/*
* Table of Contents
*
* 0. Variables
* 1. Globals
* 2. Homepage
* 3. Main
* 4. Media queries
* 5. Dark/Light
*/

/* 0. Variables */

// Colours

$primary: #000000;
$secondary: #f8f8f8;

/*
* GF 04/10/2023:
* Article on dark/light mode using CSS variables
* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8
*/


/* 1. Globals */

body {
    background: $secondary;
}

// Skip content button
.skip-link {
    background: $primary;
    color: $secondary;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
}

// 
  
.skip-link:focus {
    transform: translateY(0%);
}

/* 2. Homepage */

/* 3. Main */

/* 4. Media queries */

/* 5. Dark/Light */

@media (prefers-color-scheme: dark) {
    body {
        background: $primary;
    }
}