/* 
* Main stylesheet for Layers of Vision
* This is the SCSS file. CSS will be generated and minified.
*/

/*
* Table of Contents
*
* 0. Variables
* 1. Globals
* 2. Homepage
* 3. Navigation
* 4. Main
* 5. Media (Image, Audio, Video, etc.)
* 6. Media queries
* 7. Dark/Light and font resizer
* 8. Manual zoom
* 9. Imports
*/

/* 0. Variables */

// Colours
// Setting themes with variables

:root {
  --primary: #001923; // rgb(0, 25, 35)
  --secondary: #eefdfd; // rgb(238, 253, 253)

  --font-color: #001923;
  --text-anchor: --primary;
}

[data-theme="dark"] {
  --primary: #eefdfd;
  --secondary: #001923;

  --font-color: #eefdfd;
  --text-anchor: --primary;
}

.invert {
  background: var(--primary);
  color: var(--secondary);
}

$kings-red: #e2231a;

/*
* GF 04/10/2023:
* Article on dark/light mode using CSS variables
* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8
*/

/* 1. Globals */

body {
  background: var(--secondary);
  box-sizing: border-box;
  color: var(--font-color);
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-anchor);

  &:focus {
    border: 1px solid var(--text-anchor);
    box-sizing: border-box;
  }
}

.divider {
  background-color: var(--primary);
  display: block;
  height: 15px;
  margin: 15px 0 0 15px;
}

header {
  position: relative;
}

// Headings
h1 {
  margin-top: 0;
}

h2,
h3,
h4 {
  margin: 1em 0 0.5em;
}

.hidden {
  display: none;
}

ol {
  // counter-reset: a;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  // position: relative;

  > li {
    // counter-increment: a;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;

    // GF: removed numbering
    // &::before {
    //   border: 2px solid var(--primary);
    //   box-sizing: border-box;
    //   content: counter(a, decimal) "";
    //   display: inline-block;
    //   font-size: 40px;
    //   height: 70px;
    //   line-height: 1;
    //   margin-right: 24px;
    //   padding: 14px 0;
    //   text-align: center;
    //   width: 70px;
    // }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

p {
  // line-height: 27px;
  margin: 0 0 0.5em;
}

.show {
  display: block !important;
}

small {
  font-size: 0.6125em;
}

// Skip content button
.skip-link {
  background: var(--primary);
  color: var(--secondary);
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-120%);
  z-index: 1000;
}

.skip-link:focus {
  transform: translateY(0%);
}

// Buttons
button,
.button {
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  padding: 11px 21px;
  text-decoration: none;

  &:hover {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
  }

  &.inverted {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    color: var(--secondary);
  }

  &.disabled {
    &:hover {
      cursor: default;
    }
  }

  &.small {
    font-size: 20px;
    line-height: 25px;
    padding: 8px 15px;
  }

  &.to-top {
    box-sizing: border-box;
    display: flex;
    height: 62px;
    padding: 15px;
    width: 62px;

    svg {
      fill: none;
      stroke: var(--primary);
      stroke-width: 3px;
    }

    &:hover {
      svg {
        stroke: var(--secondary);
      }
    }
  }
}

// Grid container
.row {
  display: grid;

  margin-top: 30px;

  .col-auto {
    &.invert {
      padding: 8px 14px;

      a {
        color: var(--secondary);
      }

      h3 {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Visibility classes

// Accessible to screen readers only
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* 2. Homepage */

/* 3. Navigation */

nav {
  z-index: 1;

  ul {
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0;

      a {
        border: 2px solid var(--primary);
        color: var(--primary);
        display: block;
        padding: 11px 21px;
        text-decoration: none;

        &:hover,
        &.active {
          background-color: var(--primary);
          border: 2px solid var(--primary);
          color: var(--secondary);
        }
      }
    }
  }
}

// Hamburger menu
.navbar-burger {
  background: var(--secondary);
  cursor: pointer;
  display: block;
  height: 62px;
  padding: 0 14px;
  position: fixed;
  right: 0;
  top: 0;
  width: 62px;
  z-index: 10001;

  span {
    &.lines {
      background-color: var(--primary);
      display: block;
      height: 2px;
      margin: 10px 0;
      width: 30px;
    }
  }

  &[aria-expanded="false"] {
    .close {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    .lines {
      display: none;
    }
  }
}

.main-nav {
  font-size: 32px;
}

footer,
.footer {
  position: relative;
}

.footer-wrapper {
  font-size: 20px;
  margin: 30px auto 0;
  max-width: 1134px;

  .footer-nav {
    a {
      padding: 8px 15px;
    }
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 20px;

    &.tag-line {
      font-size: 14px;
      margin-top: 32px;
    }
  }
}

.to-top {
  position: absolute;
  right: 0;
  top: 75px;
}

/* 4. Main */

main,
.main {
  padding: 16px;

  p {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 50px;
  }

  .transcript-btn {
    margin-top: -15px;
  }
}

.block {
  margin: 16px auto;
  max-width: 900px;
  position: relative;
}

.notehead {
  div {
    p {
      border-top: 15px solid var(--primary);
      font-size: 32px;
      line-height: 40px;
      padding-top: 14px;
    }
  }
}

// Used to style the numbers on the artist pages
.square {
  border: 2px solid var(--primary);
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 62px;
  line-height: 62px;
  text-align: center;
  width: 62px;
}

// Social
.social {
  h3,
  ul,
  li {
    display: inline-block;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      border: 2px solid var(--primary);
      margin-left: 8px;

      svg {
        vertical-align: middle;
      }
    }
  }
}

/* 5. Media (Image, Audio, Video, etc.) */

audio,
video {
  border: 2px solid var(--primary);
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

figcaption {
  border: 2px solid var(--primary);
  border-top: 0;
  font-size: 20px;
  padding: 24px;
}

figure {
  margin: 2em 0;

  img {
    border: 2px solid var(--primary);
    box-sizing: border-box;
    margin-bottom: -5px;
  }
}

.icon {
  display: block;
  padding: 8px;

  svg {
    fill: var(--primary);
    width: 20px;
  }

  &:hover {
    background: var(--primary);

    svg {
      fill: var(--secondary);
    }
  }
}

main img {
  width: 100%;
}

// KCL Logo
.kcl-logo {
  padding: 30px;

  a {
    display: flex;

    &:hover {
      .kcl-rect {
        fill: $kings-red;
      }
      .kcl-text {
        fill: white;
      }
    }
  }

  svg {
    max-width: 100%;
  }
}
.kcl-rect {
  fill: var(--primary);
}

.kcl-text {
  fill: var(--secondary);
}

// Lov Logo
.lov-logo {
  a {
    &:hover {
      svg {
        background-color: var(--primary);

        .primary-color {
          fill: var(--secondary);
        }

        .secondary-color {
          fill: var(--primary);
        }
      }
    }
  }

  h1,
  h2 {
    margin: 0;
  }

  svg {
    max-width: 210px;

    .primary-color {
      fill: var(--primary);
    }

    .secondary-color {
      fill: var(--secondary);
    }
  }
}

/* 6. Media queries */

@media screen and (max-width: 1023px) {
  .footer-large {
    display: none;
  }

  .footer-nav {
    padding: 15px;

    li {
      margin-top: 5px;
    }
  }

  .footer-small {
    .divider {
      display: inline-flex;
      width: calc(100vw - 107px);
    }

    .row {
      margin: 0;
    }
  }

  // Headings
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;

    &.home-title {
      font-size: 40px;
      line-height: 50px;
    }
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  .kcl-logo {
    padding: 15px;
  }

  .large-font {
    font-size: 40px;
    line-height: 50px;
  }

  .main-nav {
    display: none;

    &.show {
      background-color: var(--secondary);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 1000;

      li a {
        border: 0;
      }
    }
  }

  .prev-next,
  .small-screen {
    .button {
      font-size: 20px;
      line-height: 25px;
      padding: 8px 15px;
    }

    &.row {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;

      .col-end {
        align-self: end;
        text-align: right;
      }
    }
  }

  .social {
    h3 {
      display: block;
      margin: 30px 15px 15px;
    }

    ul {
      margin-left: 15px;

      li {
        margin-left: 0;
      }
    }
  }

  .switch {
    position: absolute !important;

    &.font-sizer {
      right: 0;
      top: -150px;
    }

    &.theme {
      top: -80px;
    }
  }

  .switches {
    position: relative;

    &.desktop {
      display: none;
    }
  }

  .to-top {
    display: inline-flex;
    float: right;
    position: relative;
    top: 0;
    margin: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-small {
    display: none;
  }

  // Headings
  h1 {
    font-size: 94px;
  }

  h2 {
    font-size: 64px;
    line-height: 74px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 28px;
  }

  .large-font {
    font-size: 64px;
    line-height: 74px;
  }

  .lov-logo {
    h1,
    h2 {
      height: 210px;
      position: fixed;
      width: 210px;
    }
  }

  .main-nav {
    background: var(--secondary);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
  }

  nav {
    ul {
      display: flex; // gets rid of whitespace issue

      li {
        margin: 0 0 0 15px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .navbar-burger {
    display: none;
  }

  .notehead {
    div {
      p {
        margin-right: 16px;
      }
    }
  }

  ol {
    > li {
      font-size: 80px;
    }
  }

  .prev-next {
    position: fixed;
    left: 0;
    top: 230px;
    width: 100%;

    .next {
      right: 0;
    }

    .prev {
      left: 0;
    }
  }

  .kcl-logo {
    padding: 0 0 30px 0;
  }

  // Notehead
  .notehead {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 135px;

    div {
      grid-column: 2/4;
      text-align: right;
      p {
        display: inline-block;
        text-align: left;
      }
    }
  }

  // Main top margin on pages that are not the homepage

  .not-home {
    main {
      p {
        max-width: 664px;
      }

      .block {
        margin-top: 110px;
      }

      .pre-title {
        margin-bottom: 20px;
        padding-top: 20px;
      }
    }
  }

  .row {
    grid-template-columns: auto 200px;
    grid-column-gap: 30px;

    .col-auto {
      grid-column: auto;
    }

    .col-end {
      align-self: end;
      text-align: right;
    }
  }

  .row-full {
    display: grid;
    grid-template-columns: 314px auto;
    grid-column-gap: 30px;

    .col-auto {
      grid-column: auto;
    }

    .col-start {
      align-self: start;

      p {
        line-height: 27px;
        margin: 0 0 8px;
      }
    }
  }

  .switches {
    &.mobile {
      display: none;
    }
  }
}

/* 7. Dark/Light */

// Switcher

/* Ref: https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

/* Simple css to style it like a toggle switch */

.swtich-wrapper {
  display: flex;
}

.switch {
  background: var(--secondary);
  border: 2px solid var(--primary);
  bottom: 10px;
  box-sizing: border-box;
  display: inline-block;
  height: 62px;
  padding: 11px;
  position: fixed;
  width: 62px;

  &:hover {
    background: var(--primary);
    color: var(--secondary);
    svg {
      fill: var(--secondary);
    }
  }

  input {
    display: none;
  }

  &.font-sizer {
    font-size: 34px;
    line-height: 1;

    p {
      margin: 0;
    }
  }

  &.theme {
    right: 0;
  }
}

.switch-icon {
  cursor: pointer;

  svg {
    fill: var(--primary);
  }
}

input:checked + .slider:before {
  transform: rotate(180deg);
}

/* Detect user default system or user agent for light/dark mode */
// GF 04/10/2022 Disabled until I have a working switch
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #eefdfd;
    --secondary: #001923;

    --font-color: #eefdfd;
    --text-anchor: #eefdfd;
    // --text-anchor: orange;
  }

  [data-theme="dark"] {
    --primary: #001923;
    --secondary: #eefdfd;

    --font-color: #001923;
    --text-anchor: #001923;
    // --text-anchor: teal;
  }
}

/* 8. Manual zoom */

.zoom {
  font-size: 20px;

  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 54px;
  }

  h4 {
    font-size: 42px;
  }

  p {
    font-size: 28px;
    line-height: 40px;
  }

  .person {
    font-size: 32px;
  }

  .main-nav {
    font-size: 48px;
  }

  .footer-nav {
    font-size: 24px;
  }

  .notehead p {
    font-size: 40px;
  }

  button,
  .button {
    font-size: 40px;
  }

  figcaption {
    font-size: 24px;
  }

  .footer-wrapper h3 {
    font-size: 24px;
  }

  .large-font {
    font-size: 80px;
    line-height: 94px;
  }
}

/* 9. Imports */

@import "fonts";
