/* 
* Main stylesheet for Layers of Vision
* This is the SCSS file. CSS will be generated and minified.
*/

/*
* Table of Contents
*
* 0. Variables
* 1. Globals
* 2. Homepage
* 3. Navigation
* 4. Main
* 5. Media (Image, Audio, Video, etc.)
* 6. Media queries
* 7. Dark/Light
* 8. Imports
*/

/* 0. Variables */

// Colours
// Setting themes with variables

:root {
  --primary: #001923; // rgb(0, 25, 35)
  --secondary: #eefdfd; // rgb(238, 253, 253)

  --font-color: #001923;
  --text-anchor: teal;
}

[data-theme="dark"] {
  --primary: #eefdfd;
  --secondary: #001923;

  --font-color: #eefdfd;
  --text-anchor: orange;
}

.invert {
  background: var(--primary);
  color: var(--secondary);
}

$kings-red: #e2231a;

/*
* GF 04/10/2023:
* Article on dark/light mode using CSS variables
* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8
*/

/* 1. Globals */

body {
  background: var(--secondary);
  color: var(--font-color);
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-anchor);

  &:focus {
    border: 1px solid var(--text-anchor);
    box-sizing: border-box;
  }
}

header {
  position: relative;
}

// Headings
h2,
h3,
h4 {
  margin: 1em 0 0.5em;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

.large-font {
  font-size: 4rem;
}

p {
  margin: 0 0 0.5em;
}

// Skip content button

.skip-link {
  background: var(--primary);
  color: var(--secondary);
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-120%);
}

.skip-link:focus {
  transform: translateY(0%);
}

// Buttons
button,
.button {
  border: 2px solid var(--primary);
  color: var(--primary);
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  text-decoration: none;

  &:hover {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
  }
}

// Grid container

.row {
  display: grid;

  margin-top: 1em;

  .col-9 {
    &.invert {
      padding: 1em;

      a {
        color: var(--secondary);
      }

      h3 {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Visibility classes

// Accessible to screen readers only
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* 2. Homepage */

/* 3. Navigation */

nav {
  ul {
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;

      a {
        border: 2px solid var(--primary);
        color: var(--primary);
        display: block;
        padding: 1rem 1.5rem;
        text-decoration: none;

        &:hover,
        &.active {
          background-color: var(--primary);
          border: 2px solid var(--primary);
          color: var(--secondary);
        }
      }
    }
  }
}

.main-nav {
  font-size: 2rem;
}

.footer-wrapper {
  margin: 1rem auto 0;
  max-width: 1132px;

  .footer-nav {
    a {
      padding: 0.75rem 1rem;
    }
  }

  h3 {
    font-size: 1.25rem;
  }
}

.tag-line {
  font-size: 1rem;
  margin-top: 2rem;
}

/* 4. Main */

main,
.main {
  padding: 1em;
}

.block {
  margin: 1em auto;
  max-width: 900px;
}

.intro {
  font-size: 4rem;
  font-weight: bold;
}

.notehead {
  div {
    p {
      border-top: 10px solid var(--primary);
      padding-top: 0.5rem;
    }
  }
}

// Social

.social {
  h3,
  ul,
  li {
    display: inline-block;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      border: 1px solid var(--primary);
      margin-left: 0.5rem;

      svg {
        vertical-align: middle;
      }
    }
  }
}

/* 5. Media (Image, Audio, Video, etc.) */

audio {
  border: 1px solid var(--primary);
  margin: 2em 0;
  width: 100%;
}

figure {
  margin: 2em 0;
}

video {
  width: 100%;
}

.icon {
  display: block;
  padding: 0.5rem;

  svg {
    fill: var(--primary);
    max-width: 1.25rem;
    max-height: 1.25rem;
  }

  &:hover {
    background: var(--primary);

    svg {
      fill: var(--secondary);
    }
  }
}

// KCL Logo
.kcl-logo {
  padding: 2rem;

  a {
    display: block;

    &:hover {
      .kcl-rect {
        fill: $kings-red;
      }
      .kcl-text {
        fill: white;
      }
    }
  }

  svg {
    max-width: 100%;
  }
}
.kcl-rect {
  fill: var(--primary);
}

.kcl-text {
  fill: var(--secondary);
}

// Lov Logo
.lov-logo {
  h1,
  h2 {
    margin: 0;
  }

  svg {
    max-width: 210px;

    .primary-color {
      fill: var(--primary);
    }

    .secondary-color {
      fill: var(--secondary);
    }

    .logo-font {
      font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 700;
    }

    .logo-font-large {
      font-size: 48px;
    }

    .logo-font-medium {
      font-size: 32px;
    }
  }
}

/* 6. Media queries */

@media screen and (min-width: 1024px) {
  .main-nav {
    background: var(--secondary);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
  }

  nav {
    ul {
      li {
        display: inline-block;
      }
    }
  }

  .kcl-logo {
    padding: 0 0 2rem 0;
  }

  // Notehead
  .notehead {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: 6rem;
    margin-top: -7rem;

    div {
      grid-column: 2/2;
      text-align: right;
      p {
        display: inline-block;
        text-align: left;
      }
    }
  }

  .row {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2em;

    .col-9 {
      grid-column: 1/10;
    }

    .col-3 {
      grid-column: 10/13;
      text-align: right;
    }
  }
}

/* 7. Dark/Light */

// Switcher

/* Ref: https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

/* Simple css to style it like a toggle switch */

.theme-switch {
  background: var(--secondary);
  border: 1px solid var(--primary);
  bottom: 0;
  display: inline-block;
  height: 4rem;
  padding: 1rem;
  position: fixed;
  right: 0;
  width: 4rem;
}

.theme-switch input {
  display: none;
}

.switch {
  cursor: pointer;

  svg {
    fill: var(--primary);
  }
}

input:checked + .slider:before {
  transform: rotate(180deg);
}

/* Detect user default system or user agent for light/dark mode */
// GF 04/10/2022 Disabled until I have a working switch
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #eefdfd;
    --secondary: #001923;

    --font-color: #eefdfd;
    --text-anchor: orange;
  }

  [data-theme="dark"] {
    --primary: #001923;
    --secondary: #eefdfd;

    --font-color: #001923;
    --text-anchor: teal;
  }
}

/* 8. Imports */

@import "fonts";
