/* 
* Main stylesheet for Layers of Vision
* This is the SCSS file. CSS will be generated and minified.
*/

/*
* Table of Contents
*
* 0. Variables
* 1. Globals
* 2. Homepage
* 3. Navigation
* 4. Main
* 5. Media (Image, Audio, Video, etc.)
* 6. Media queries
* 7. Dark/Light
* 8. Imports
*/

/* 0. Variables */

// Colours
// Setting themes with variables

:root {
  --primary: #001923; // rgb(0, 25, 35)
  --secondary: #eefdfd; // rgb(238, 253, 253)

  --font-color: #001923;
  --text-anchor: teal;
}

[data-theme="dark"] {
  --primary: #eefdfd;
  --secondary: #001923;

  --font-color: #eefdfd;
  --text-anchor: orange;
}

/*
* GF 04/10/2023:
* Article on dark/light mode using CSS variables
* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8
*/

/* 1. Globals */

body {
  background: var(--secondary);
  color: var(--font-color);
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 175%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-anchor);

  &:focus {
    border: 1px solid var(--text-anchor);
    box-sizing: border-box;
  }
}

// Skip content button

.skip-link {
  background: var(--primary);
  color: var(--secondary);
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-120%);
}

.skip-link:focus {
  transform: translateY(0%);
}

// Buttons
button,
.button {
  border: 1px solid var(--primary);
  color: var(--primary);
  display: inline-block;
  padding: 1rem;
  text-decoration: none;

  &:hover {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
  }
}

// Visibility classes

// Accessible to screen readers only
.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* 2. Homepage */

/* 3. Navigation */

nav {
  ul {
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;

      a {
        border: 2px solid var(--primary);
        color: var(--primary);
        display: block;
        padding: 1rem 1.5rem;
        text-decoration: none;

        &:hover,
        &.active {
          background-color: var(--primary);
          border: 2px solid var(--primary);
          color: var(--secondary);
        }
      }
    }
  }
}

/* 4. Main */

main,
.main {
  padding: 1em;
}

.block {
  margin: 1em auto;
  max-width: 900px;
}

.intro {
  font-size: 2em;
  font-weight: bold;
}

/* 5. Media (Image, Audio, Video, etc.) */

audio {
  border: 1px solid var(--primary);
  margin: 1em 0;
  width: 100%;
}

figure {
  margin: 2em 0;
}

// KCL Logo
.kcl-logo {
  svg {
    max-width: 200px;
  }
}
.kcl-rect {
  fill: var(--primary);
}

.kcl-text {
  fill: var(--secondary);
}

// Lov Logo
.lov-logo {
  h1,
  h2 {
    margin: 0;
  }

  svg {
    max-width: 210px;

    .primary-color {
      fill: var(--primary);
    }

    .secondary-color {
      fill: var(--secondary);
    }

    .logo-font {
      font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 700;
    }

    .logo-font-large {
      font-size: 48px;
    }

    .logo-font-medium {
      font-size: 32px;
    }
  }
}

/* 6. Media queries */

@media screen and (min-width: 1024px) {
  .main-nav {
    text-align: right;
  }

  nav {
    ul {
      li {
        display: inline-block;
      }
    }
  }
}

/* 7. Dark/Light */

// Switcher

/* Ref: https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

/* Simple css to style it like a toggle switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Detect user default system or user agent for light/dark mode */
// GF 04/10/2022 Disabled until I have a working switch
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #eefdfd;
    --secondary: #001923;

    --font-color: #eefdfd;
    --text-anchor: orange;
  }

  [data-theme="dark"] {
    --primary: #001923;
    --secondary: #eefdfd;

    --font-color: #001923;
    --text-anchor: teal;
  }
}

/* 8. Imports */

@import "fonts";
