{% assign navPages = collections.all | eleventyNavigation: "Header" %}

<nav class="main-nav" aria-label="Main navigation">
  <ul>
    <li>
      <a href="{{ '/' | url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a>
    </li>
    {% for entry in navPages %}

      {% if forloop.index > 1 %}
        {% if page.url != '/' and entry.url contains page.url%}
          {% assign linkClass = ' active' %}
        {% else %}
          {% assign linkClass = '' %}
        {% endif %}
        <li>
          <a class="navbar-link{{ linkClass }}" href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>