{% assign navPages = collections.all | eleventyNavigation: "Header" %}

<button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-top">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</button>

<nav class="main-nav" role="navigation">
  <ul>
    <li>
      <a href="{{ '/' | url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a>
    </li>
    {% for entry in navPages %}

      {% if forloop.index > 1 %}
        {% if page.url != '/' and entry.url contains page.url%}
          {% assign linkClass = ' active' %}
        {% else %}
          {% assign linkClass = '' %}
        {% endif %}
        <li>
          <a class="navbar-link{{ linkClass }}" href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>