/* Custom fonts */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf") format("woff2");
  font-style: italic;
  font-weight: 700;
}