/* 
* Main stylesheet for Layers of Vision
* This is the SCSS file. CSS will be generated and minified.
*/
/*
* Table of Contents
*
* 0. Variables
* 1. Globals
* 2. Homepage
* 3. Navigation
* 4. Main
* 5. Media (Image, Audio, Video, etc.)
* 6. Media queries
* 7. Dark/Light
* 8. Imports
*/
/* 0. Variables */
:root {
  --primary: #001923;
  --secondary: #eefdfd;
  --font-color: #001923;
  --text-anchor: teal;
}

[data-theme=dark] {
  --primary: #eefdfd;
  --secondary: #001923;
  --font-color: #eefdfd;
  --text-anchor: orange;
}

.invert {
  background: var(--primary);
  color: var(--secondary);
}

/*
* GF 04/10/2023:
* Article on dark/light mode using CSS variables
* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8
*/
/* 1. Globals */
body {
  background: var(--secondary);
  color: var(--font-color);
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-anchor);
}
a:focus {
  border: 1px solid var(--text-anchor);
  box-sizing: border-box;
}

header {
  position: relative;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 0.5em;
}

h1 {
  font-size: 5.875rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

.large-font {
  font-size: 4rem;
}

p {
  margin: 0 0 0.5em;
}

.skip-link {
  background: var(--primary);
  color: var(--secondary);
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-120%);
  z-index: 1000;
}

.skip-link:focus {
  transform: translateY(0%);
}

button,
.button {
  border: 2px solid var(--primary);
  color: var(--primary);
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
button:hover,
.button:hover {
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  color: var(--secondary);
  cursor: pointer;
}

.row {
  display: grid;
  margin-top: 1em;
}
.row .col-9.invert {
  padding: 1em;
}
.row .col-9.invert a {
  color: var(--secondary);
}
.row .col-9.invert h3 {
  margin-top: 0;
}
.row .col-9.invert p:last-child {
  margin-bottom: 0;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* 2. Homepage */
/* 3. Navigation */
nav ul {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: block;
}
nav ul li a {
  border: 2px solid var(--primary);
  color: var(--primary);
  display: block;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}
nav ul li a:hover, nav ul li a.active {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--secondary);
}

.main-nav {
  font-size: 2rem;
}

.footer-wrapper {
  margin: 1rem auto 0;
  max-width: 1132px;
}
.footer-wrapper .footer-nav a {
  padding: 0.75rem 1rem;
}
.footer-wrapper h3 {
  font-size: 1.25rem;
}

.tag-line {
  font-size: 1rem;
  margin-top: 2rem;
}

/* 4. Main */
main,
.main {
  padding: 1em;
}

.block {
  margin: 1em auto;
  max-width: 900px;
}

.intro {
  font-size: 4rem;
  font-weight: bold;
}

.notehead div p {
  border-top: 15px solid var(--primary);
  font-size: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.social h3,
.social ul,
.social li {
  display: inline-block;
  margin: 0;
}
.social ul {
  list-style: none;
  padding: 0;
}
.social ul li {
  border: 1px solid var(--primary);
  margin-left: 0.5rem;
}
.social ul li svg {
  vertical-align: middle;
}

/* 5. Media (Image, Audio, Video, etc.) */
audio {
  border: 1px solid var(--primary);
  margin: 2em 0;
  width: 100%;
}

figure {
  margin: 2em 0;
}

video {
  width: 100%;
}

.icon {
  display: block;
  padding: 0.5rem;
}
.icon svg {
  fill: var(--primary);
  width: 1.25rem;
}
.icon:hover {
  background: var(--primary);
}
.icon:hover svg {
  fill: var(--secondary);
}

.kcl-logo {
  padding: 2rem;
}
.kcl-logo a {
  display: block;
}
.kcl-logo a:hover .kcl-rect {
  fill: #e2231a;
}
.kcl-logo a:hover .kcl-text {
  fill: white;
}
.kcl-logo svg {
  max-width: 100%;
}

.kcl-rect {
  fill: var(--primary);
}

.kcl-text {
  fill: var(--secondary);
}

.lov-logo h1,
.lov-logo h2 {
  margin: 0;
}
.lov-logo svg {
  max-width: 210px;
}
.lov-logo svg .primary-color {
  fill: var(--primary);
}
.lov-logo svg .secondary-color {
  fill: var(--secondary);
}
.lov-logo svg .logo-font {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
}
.lov-logo svg .logo-font-large {
  font-size: 48px;
}
.lov-logo svg .logo-font-medium {
  font-size: 32px;
}

/* 6. Media queries */
@media screen and (min-width: 1024px) {
  .main-nav {
    background: var(--secondary);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
  }
  .kcl-logo {
    padding: 0 0 2rem 0;
  }
  .notehead {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
    margin-top: -6rem;
  }
  .notehead div {
    grid-column: 2/2;
    text-align: right;
  }
  .notehead div p {
    display: inline-block;
    text-align: left;
  }
  .row {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2em;
  }
  .row .col-9 {
    grid-column: 1/10;
  }
  .row .col-3 {
    grid-column: 10/13;
    text-align: right;
  }
}
/* 7. Dark/Light */
/* Ref: https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */
/* Simple css to style it like a toggle switch */
.theme-switch {
  background: var(--secondary);
  border: 2px solid var(--primary);
  bottom: 0;
  display: inline-block;
  height: 3rem;
  padding: 0.5rem;
  position: fixed;
  right: 0;
  width: 3rem;
}

.theme-switch input {
  display: none;
}

.switch {
  cursor: pointer;
}
.switch svg {
  fill: var(--primary);
}

input:checked + .slider:before {
  transform: rotate(180deg);
}

/* Detect user default system or user agent for light/dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #eefdfd;
    --secondary: #001923;
    --font-color: #eefdfd;
    --text-anchor: orange;
  }
  [data-theme=dark] {
    --primary: #001923;
    --secondary: #eefdfd;
    --font-color: #001923;
    --text-anchor: teal;
  }
}
/* 8. Imports */
/* Custom fonts */
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf") format("woff2");
  font-style: italic;
  font-weight: 700;
}